Project Report.pdf
README.md
a.exe
simulator.exe

web/app.log
web/assemblyCode.txt
web/data.txt
web/Memory.txt
web/errorMessages.txt
web/output.txt
string manipulation/split_output.py
Why
web/b.exe
web/code.exe
web/draft.cpp
web/draft.cpp
web/test_errorInCode.txt
submission
draft_new_output
test1.txt
test3.txt
test2.txt
test3Memory.txt
